<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Waves for Change</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<style>
  #banner, #team {
    height: 600px;
  }

  #drive {
    padding: 20px;
    margin: 10px;
  }
</style>
<body background="static/banner.jpg" style="background-size:100% 100%;">
  <nav class="navbar sticky-top" style="background-color: #249206f8;">
    <a class="navbar-brand" href="#"><div class="container ">Waves For Change</div></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-md-0">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </nav>
  <div class="container text-center card mt-5 mb-5" style="opacity: 0.95;">
    <h1 class="mt-3">About Us</h1>
    <p>Lorem ipsum dolor sit amet, nam unum dicant nominavi ei, ludus maiorum elaboraret an his. Ei duo legere dolorem accommodare, et sit dico semper. Cum et copiosae adolescens constituto, usu idque saperet eleifend ei. In vis diam moderatius comprehensam. Ea sed elaboraret instructior complectitur. Eu eum option ullamcorper, et eum affert labore, pri inani mollis propriae eu.
      Eos duis ponderum in, postea debitis prodesset nec ut, te quo aeterno erroribus intellegat. Te vim quod diceret dignissim. Eu ullum dicta blandit nec. Case putant eam ne. Id novum appetere vel, est eu omnesque sapientem definitionem. Ne sed putant postulant. Nec ea elit vocibus, pro cu impetus nonumes quaestio.
      Oblique complectitur quo an. Simul qualisque pri et. Ne aeterno principes intellegebat quo. Mea dicant dicunt euripidis an, mei scripta platonem ocurreret ei, quo an dico eruditi.
      Exerci corrumpit pro ex, an ridens salutatus definitionem mei, te assum choro platonem eam. Pri aliquam gloriatur adipiscing ea, quo eu purto atomorum interpretaris. Justo melius mea et, qui cu esse habeo nusquam. Alii invenire has ex. Nam id instructior definitionem. Qui et probo nihil impetus, id pro tamquam intellegam. Eos cu soluta impetus vulputate.
      Corpora propriae voluptua at sit, eum debitis insolens cotidieque eu. Sale qualisque scribentur ne usu, iuvaret interpretaris ei est, eu sonet recusabo per. Ea vis odio quando intellegebat, nisl persecuti id vix, ut eos quis oporteat. Eu qui consequat consetetur assueverit. Tempor altera deserunt te eos. Vis homero volumus torquatos ne. Autem salutatus ea mei, affert iudicabit an sit.</p>

      
      
    <h2 class="mt-3 mb-3 ">Meet the founding team</h2>
    <div class="row align-items-center">
      <div class="col-6 text-start border-end border-2">
        <p class="lead"> Satvik Singh : Founder </p>
        <p class="lead"> Palash Jhabkh : Senior Coordinator </p>
        <p class="lead"> Rishab Agarwal : Resource Manager </p>
        <p class="lead"> Lakshya Punjabi : Recruitment Specialist </p>
      </div>
      <div class="col-6">
      <img src="static/FoundingTeam.jpg" class="img-fluid" alt="Waves for Change team" id="team" style="height: 320px; width: 95%;">
      </div>
      
      

    <h3 class="mt-3">Our Upcoming drives</h3>
    <div>
      {% for drive in drives %}
        {% if drive.getActive() == True %}
          <div class="d-flex align-items-center text-start border border-3 rounded border-success" id="drive">
            <div class="flex-grow-1">{{ drive.getDestination() }}</div>
            <button type="button" class="btn btn-outline-success ms-3">Join</button>
          </div>
        {% else %}
        <div class="d-flex align-items-center text-start border border-3 rounded border-danger" id="drive">
          <div class="flex-grow-1">{{ drive.getDestination() }}</div>
          <button type="button" class="btn btn-outline-danger ms-3" disabled>Passed</button>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</body>
</html>
